/.idea/
/vendor/**/*.md
/vendor/**/*.txt
/vendor/**/LICENSE
/vendor/**/composer.json
/vendor/**/.gitignore
/vendor/**/phpunit.xml.dist
/vendor/**/test*
/vendor/**/CHANGELOG.md
/vendor/**/.github
/vendor/guzzlehttp/guzzle/UPGRADING.md
/vendor/guzzlehttp/promises/Makefile
/vendor/guzzlehttp/psr7/.php_cs.dist
